* {
  box-sizing: border-box;
}

:root {
  --foreground: 46, 39, 39;
  --background: 255, 255, 255;
}

body {
  color: rgb(var(--foreground));
  font-family: var(--font-open-sans), sans-serif;
  background: rgb(var(--background));

  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: 100vh;
  max-width: 800px;

  padding-top: 8rem;
  padding-bottom: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

p,
ul {
  font-size: 1rem;
  line-height: 1.6;

  margin-bottom: 0;
  margin-top: 0.5rem;
}

ul {
  list-style-position: inside;
  padding-left: 1rem;
}

li {
  margin-bottom: 0.25rem;
}

a {
  color: rgb(var(--foreground-rgb));
  text-decoration: underline;
}

a:hover {
  opacity: 0.8;
}
